@model Demo.Web.Models.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Demo: Per-development environment connection strings and application settings</title>
    </head>
    <body>
        <div>
            <p>
                MyConnectionString = <code>@Model.MyConnectionString</code>
            </p>
            <p>
                MyAppSettingsValue = <code>@Model.MyAppSettingsValue</code>
            </p>
        </div>
    </body>
</html>